<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csbaic.edatope.app.mapper.OrganizationBizTypeMapper">

    <select id="listOrganizationBizType" resultType="com.csbaic.edatope.app.entity.OrganizationBizType">
        SELECT *
        FROM sys_organization_biz_type
        WHERE deleted = 0
          AND org_id = #{orgId};
    </select>
</mapper>
