<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csbaic.edatope.app.mapper.WorkStageAuthorizeMapper">

    <resultMap id="workStageAuthorizeDetail" type="com.csbaic.edatope.app.entity.WorkStageAuthorize" autoMapping="true">
        <id column="id" property="id"/>
    </resultMap>

    <select id="listPage" resultMap="workStageAuthorizeDetail">
        <include refid="ListWorkStageAuthorize"/>
    </select>

    <sql id="ListWorkStageAuthorize">
        SELECT DISTINCT s.* FROM sys_work_stage_authorize s left join sys_organization o  on s.org_id = o.id
        <where>
            <if test="query.name != null and query.name != ''">
                and o.name LIKE CONCAT('%', #{query.name}, '%')
            </if>
            <if test="query.category != null and query.category != ''">
                and o.category = #{query.category}
            </if>
            <if test="query.expireTime != null and query.expireTime != ''">
                and s.expire_time = #{query.expireTime}
            </if>
            <if test="query.status != null and query.status != ''">
                and s.status = #{query.status}
            </if>
            <if test="query.aboutTime != null">
                and s.expire_time <![CDATA[<=]]> #{query.aboutTime}
            </if>
            and s.deleted = 0
        </where>
    </sql>
</mapper>
